<a href="<%= quote_path(quote.episode.id, quote.id) %>">
  <article class="masonry--tile <%= random_masonry_class %> <%= masonry_font_size_class(quote.body) %>">
    <p><%= quote.body %></p>
  </article>
</a>
