<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <a href="#" class="header--menu-trigger" data-active-toggle='{ ".main-nav": "active" }'>Menu</a>
      </div>
      <div class="col-6 text-center">
        <a href="/" class="header--logo">
          <span class="header--logo-left d-none d-md-inline-block">Squirrel</span>
          <span class="header--logo-right d-none d-md-inline-block">Stories</span>
          <span class="d-inline-block d-md-none">&nbsp;&nbsp;&nbsp;</span>
        </a>
      </div>
      <div class="col-3">&nbsp;</div>
    </div>
  </div>
</header>

<%= partial 'partials/nav' %>
