<!-- Begin MailChimp Signup Form -->
<form action="https://squirrelstories.us17.list-manage.com/subscribe/post?u=ba1dd60826d090f20ce2b74f8&amp;id=70a2a15db1"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

  <div class="input-group mc-field-group">
    <input type="email" value="" name="EMAIL" class="form-control" placeholder="Enter Email" id="mce-EMAIL">
    <div class="input-group-append">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
    </div>
  </div>

  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>

  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="b_ba1dd60826d090f20ce2b74f8_70a2a15db1" tabindex="-1" value="">
  </div>
</form>
<!--End mc_embed_signup-->
