.episode {
  margin-bottom: 2rem;

  p {
    margin-bottom: .5rem;
  }

  .episode--title {
    font-size: 1.67rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .episode--image {
    display: block;
    width: 100%;
    margin-bottom: 1rem;

    @include media-breakpoint-up(sm) {
      float: left;
      margin-right: 1rem;
      width: 15rem;
    }
    @include media-breakpoint-up(md) {
      width: 20rem;
    }
  }

  .episode--overview {
    @include media-breakpoint-up(sm) {
      margin-left: 16rem;
    }
    @include media-breakpoint-up(md) {
      margin-left: 21rem;
    }
  }

  .episode--quote a {
    color: $body-color;
  }
}


.episode--stories-heading {
  margin: 1.5rem auto;
  position: relative;

  &:before {
    background: $gray-400;
    content: ' ';
    height: 1px;
    left: 0;
    position: absolute;
    top: 1rem;
    width: 100%;
    z-index: -2;
  }

  &:after {
    background: $white;
    content: ' ';
    height: 1rem;
    left: calc(50% - 5rem);
    position: absolute;
    top: .5rem;
    width: 10rem;
    z-index: -1;
  }
}


.episode--story-heading {
  font-size: 1.15rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}


.episode--story--storyteller a {
  font-size: .85rem;
}


.episode--story--body {
  font-size: .9rem;
}
