.footer {
  padding: 3rem 0;
}


.footer--logo {
  width: 9rem;
}


.footer--social-icons {
  margin-top: 2rem;
  padding: 0;
  text-align: center;

  @include media-breakpoint-up(md) {
    margin-top: 0;
    text-align: left;
  }

  li {
    display: inline-block;
    margin: 0 .5rem;

    @include media-breakpoint-up(md) {
      margin: 0 1rem 0 0;
    }
  }

  svg {
    color: $white;
    height: 1.5rem;
    width: 1.5rem;
  }
}


.footer--email-signup {
  p {
    text-align: center;
    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  .input-group {
    max-width: 400px;
    margin: 0 auto;

    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }
}


.footer--nav {
  margin-top: 1rem;

  @include media-breakpoint-up(md) {
    margin-top: 0;
  }
}
