div.mce_inline_error {
  color: $red;
  font-size: 0.9rem;
  font-weight: bold;
  position: absolute;
  text-shadow: 1px 1px 1px #333;
  top: 44px;
}

#mce-success-response {
  color: $white;
  font-size: 0.9rem;
  margin-top: .5rem
}
