.masonry.masonry--static-colors {
  a:nth-last-child(3) .masonry--tile {
    background-color: $teal;
    color: $white;
  }
  a:nth-last-child(2) .masonry--tile {
    background-color: $yellow;
    color: $white;
  }
  a:last-child .masonry--tile {
    background-color: $gray-400;
    color: $white;
  }
}


.masonry--sizer {
  width: calc(33.3% - 1rem);
}


.masonry--tile {
  background-color: $gray-400;
  border: 1px solid $gray-600;
  color: $black;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: calc(33.3% - 1rem);

  p {
    margin: 0;
  }
}


.masonry--bg-yellow {
  background-color: $yellow;
  color: $white;
}


.masonry--bg-teal {
  background-color: $teal;
  color: $white;
}


.masonry--text-xl {
  font-size: 1.4rem;
}


.masonry--text-xl {
  font-size: 1.2rem;
}
