.quote--body {
  background-color: $teal;
  border: 1px solid $gray-600;
  color: $white;
  font-size: 1.4rem;
  padding: 1rem;
}


.quote--offset-top {
  // transform: translateY(-50%);
  margin-top: -3rem;
  position: relative;
  z-index: 1;
}


.quote--social-icons {
  float: right;

  li {
    display: inline-block;
    margin-left: .75rem;
  }

  svg {
    height: 1.75rem;
    width: 1.75rem;
  }
}