<div class="page-header bg-triangles">
  <h1>Episodes with <%= storyteller.name %></h1>
</div>

<div class="container mt-5">
  <% episode_ids = [] %>
  <% storyteller.episodes.uniq.each do |episode| %>
    <% next if episode_ids.include?(episode.id) %>
    <%= partial 'templates/_episode', locals: { episode: episode } %>
    <% episode_ids << episode.id %>
  <% end %>
</div>

