---
title: Quotes | Squirrel Stories
---

<div class="page-header bg-triangles">
  <h1>Quotes</h1>
</div>

<div class="container my-5 content--main">
  <% if data.quotes.present? %>
    <div class="masonry invisible" data-pagination="quotes" data-page-length="10" data-random-quotes="<%= data.quotes.size %>">
      <div class="masonry--sizer"></div>

      <% data.quotes.each do |quote| %>
        <%= partial 'templates/_quote', locals: { quote: quote } %>
      <% end %>
    </div>

    <p class="text-center mt-4">
      <a href="javascript:void(0)" class="btn btn-outline-primary px-5" data-pagination-loader="quotes">Load More</a>
    </p>
  <% else %>
    <p class="content--missing my-5">
      No quotes yet! Check back soon.
    </p>
  <% end %>
</div>
