<div class="site-intro bg-triangles">
  <div class="site-intro--body container">
    <div class="row justify-content-md-center">
      <div class="col text-center">
        <p>
          A <strong>squirrel story</strong> is that story you love to tell at parties.
          <br class="d-none d-sm-block">
          It’s embarrassing. It’s goofy. It’s strange.
        </p>
      </div>
    </div>
  </div>
</div>
