---
title: Squirrel Stories | Episodes
---

<div class="page-header bg-triangles">
  <h1>Episodes</h1>
</div>

<div class="container mt-5">
  <% data.episodes.each do |episode| %>
    <%= partial 'templates/_episode', locals: { episode: episode } %>
  <% end %>
</div>
