---
title: Episodes | Squirrel Stories
---

<div class="page-header bg-triangles">
  <h1>Episodes</h1>
</div>

<div class="container mt-5" data-pagination="episodes" data-page-length="10">
  <% data.episodes.each do |episode| %>
    <%= partial 'templates/_episode', locals: { episode: episode, paginated: true } %>
  <% end %>

  <p class="text-center my-4">
    <a href="javascript:void(0)" class="btn btn-outline-primary px-5" data-pagination-loader="episodes">Load More</a>
  </p>
</div>
