---
title: Episodes | Squirrel Stories
---

<div class="page-header bg-triangles">
  <h1>Episodes</h1>
</div>

<div class="container mt-5" data-pagination="episodes">
  <% data.episodes.each_slice(10).each_with_index do |episodes, idx| %>
    <% episodes.each do |episode| %>
      <%= partial 'templates/_episode', locals: { episode: episode, page_number: idx + 1 } %>
    <% end %>
  <% end %>

  <p class="text-center my-4">
    <a href="javascript:void(0)" class="btn btn-outline-primary px-5" data-pagination-loader="episodes">Load More</a>
  </p>
</div>
